.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 9px 16px;
    min-width: 100px;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
    font-family: 'IBMPlexSans', 'sans-serif';
    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.rounded {
    border-radius: 999px;
    border-color: rgba(22, 24, 35, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

    &:hover {
        background-color: rgba(254, 44, 85, 0.08);
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        background-color: rgba(254, 44, 85, 0.08);
    }
}

.small {
    min-width: 96px;
    padding: 8px 1px;
}
.large {
    padding: 14px 16px;
    min-width: 140px;
}
.text {
    :hover {
        text-decoration: underline;
    }
}

.iconLogin {
    margin: 5px;
}

.icon {
    display: inline-block;
    width: 20px;
    margin: 0 8px;
}
